.font() {
  font-family: 'Operator Mono for Powerline';
}

atom-text-editor .gutter .line-number.foldable .icon-right { visibility: visible; }

atom-text-editor,
atom-workspace,
atom-text-editor.mini, atom-text-editor.mini.editor,
.btn {
  .font();
}

/**
 * block cursor
 */
atom-text-editor.editor .cursors .cursor {
  border-width: 0;
  background-color: rgba(150, 150, 150, .5);
}

/* turn off toggle button */
.atom-dock-toggle-button.left { display: none; }

/* linter message */
#linter-tooltip linter-message,
#linter-tooltip linter-message.info,
#linter-tooltip linter-message.warning,
#linter-tooltip linter-message.error {
  color: @text-color-subtle;
}
